{{!-- Content --}}
<div class="mt-4 container-fluid">

  {{!-- Header/Title --}}
  <div class="row">
    <div class="col">
        <h1 class="display-4 text-left">Inventory</h1>
        <p class="text-left">Low Shelf Inventory appears in<span class="text-danger"> red</span>.</p>
        <p class="text-left">Inactive items appears in<span class="text-secondary"> gray</span>.</p>
    </div>
  </div>

  {{!-- Inventory Management Dialogue --}}
  <div class="row">
      <div class="col">
          <h3 class="text-center">Inventory Management</h3>
          {{!-- Add Item Form --}}
          <form action="/inventory/new_item" method="post">
              <div class="form-row">

                  <div class="col">
                      <label for="product_name_input">Product Name</label>
                      <select class="form-control" id="product_name_input" name="product_name_input">
                          {{#each this}}
                          {{#if active}}
                          <option>{{name}}</option>
                          {{/if}}
                          {{/each}}
                      </select>
                  </div>

                  <div class="col">
                      <label for="product_warehouse_inventory_input">Warehouse Inventory</label>
                      <input type="number" class="form-control" id="product_warehouse_inventory_input" name="product_warehouse_inventory_input" min="0" placeholder="0" required>
                  </div>

                  <div class="col">
                      <label for="product_shelf_inventory_input">Shelf Inventory</label>
                      <input type="number" class="form-control" id="product_shelf_inventory_input" name="product_shelf_inventory_input" min="0" placeholder="0" required>
                  </div>

                  <div class="col">
                      <label for="product_expiration_date_input">Expiration Date</label>
                      <input type="date" class="form-control" id="product_expiration_date_input" name="product_expiration_date_input" required>
                  </div>


                  <div class="col">
                      <label>&nbsp;</label>
                      <div class="form-row">
                          <div class="col"><button type="submit" class="btn btn-primary " id="product_add_item_submit">Add Item</button></div>
                      </div>
                  </div>

              </div>
          </form>

          {{!-- Remove Item Form --}}
          <form action="/inventory/remove_item" method="post">
              <div class="form-row">

                  <div class="col">
                      <label for="product_name_input">Product Name</label>
                      <select class="form-control" id="product_name_input" name="product_name_input">
                          {{#each results}}
                          {{#if name}}
                          <option>{{name}}</option>
                          {{/if}}
                          {{/each}}
                      </select>
                  </div>

                  <div class="col">
                      <label for="product_warehouse_inventory_input">Warehouse Inventory</label>
                      <input type="number" class="form-control" id="product_warehouse_inventory_input" name="product_warehouse_inventory_input" min="0" placeholder="0" required>
                  </div>

                  <div class="col">
                      <label for="product_shelf_inventory_input">Shelf Inventory</label>
                      <input type="number" class="form-control" id="product_shelf_inventory_input" name="product_shelf_inventory_input" min="0" placeholder="0" required>
                  </div>

                  <div class="col">
                      <label>&nbsp;</label>
                      <div class="form-row">
                          <div class="col"><button type="submit" class="btn btn-primary " id="product_rem_item_submit">Remove Item</button></div>
                      </div>
                  </div>

              </div>
          </form>
      </div>
  </div>

  {{!-- Table --}}
  <div class="row mt-5">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col" colspan="4">Product</th>
            <th class="text-center bg-secondary" scope="col" colspan="6">Inventory</th>
        </tr>
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Quantity</th>
            <th class="text-center" scope="col">Expiration Date</th>
            <th class="text-center bg-secondary" scope="col">Warehouse</th>
            <th class="text-center bg-secondary" scope="col">Warehouse Minimum Threshold</th>
            <th class="text-center bg-secondary" scope="col">Warehouse Capacity</th>
            <th class="text-center bg-secondary" scope="col">Shelf</th>
            <th class="text-center bg-secondary" scope="col">Minimum Shelf Threshold</th>
            <th class="text-center bg-secondary" scope="col">Shelf Capacity</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
          {{#if name}}
            {{#if not_catalog}}
            <tr>
              <td class="text-center bg-secondary">{{id}}</td>
              <td class="text-center bg-secondary">{{name}}</td>
              <td class="text-center bg-secondary">{{total_quantity}}</td>
              <td class="text-center bg-secondary">{{exp_date}}</td>
              <td class="text-center bg-secondary">{{wh_quantity}}</td>
              <td class="text-center bg-secondary">{{wh_min_threshold}}</td>
              <td class="text-center bg-secondary">{{wh_max_threshold}}</td>
              <td class="text-center bg-secondary">{{shelf_quantity}}</td>
              <td class="text-center bg-secondary">{{shelf_min_threshold}}</td>
              <td class="text-center bg-secondary">{{shelf_max_threshold}}</td>
            </tr>
            {{else}}
            <tr>
              <td class="text-center">{{id}}</td>
              <td class="text-center">{{name}}</td>
              <td class="text-center">{{total_quantity}}</td>
              <td class="text-center">{{exp_date}}</td>
              {{#if wh_low}}
              <td class="text-center text-white bg-danger">{{wh_quantity}}</td>
              {{else}}
              <td class="text-center">{{wh_quantity}}</td>
              {{/if}}
              <td class="text-center">{{wh_min_threshold}}</td>
              <td class="text-center">{{wh_max_threshold}}</td>
              {{#if shelf_low}}
              <td class="text-center text-white bg-danger">{{shelf_quantity}}</td>
              {{else}}
              <td class="text-center">{{shelf_quantity}}</td>
              {{/if}}
              <td class="text-center">{{shelf_min_threshold}}</td>
              <td class="text-center">{{shelf_max_threshold}}</td>
            </tr>
            {{/if}}
          {{/if}}
        {{/each}}
      <tbody>
    </table>
  </div>
</div>