<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Apple Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="product_catalog">Product Catalog</a>
            <a class="nav-item nav-link active" href="inventory">Manage Inventory<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<br>

<h1>The Apple Cart</h1>
<h3>Version 1.0.1</h3>
<br>

<h1 class="display-4 text-center">Low On The Shelf Inventory</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
        <th class="text-center" scope="col">Product Id:</th>
        <th class="text-center" scope="col">Product Name:</th>
        <th class="text-center" scope="col">Quantity on Shelf:</th>
        <th class="text-center" scope="col">Minimum Shelf Threshold:</th>
        <th class="text-center" scope="col">Shelf Capacity:</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      {{#if name}}
        <tr>
          <th class="text-center" scope="row">{{id}}</td>
          <td class="text-center">{{name}}</td>
          <td class="text-center text-danger">{{shelf_quantity}}</td>
          <td class="text-center">{{shelf_min_threshold}}</td>
          <td class="text-center">{{shelf_max_threshold}}</td>
        </tr>
      {{/if}}
    {{/each}}
  <tbody>
</table>