<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Apple Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="product_catalog">Product Catalog<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="inventory">Manage Inventory</a>
        </div>
    </div>
</nav>
<br>

<h1 class="display-4 text-center">Product Catalog</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
        <th class="text-center" scope="col">Id:</th>
        <th class="text-center" scope="col">Name:</th>
        <th class="text-center" scope="col">Type:</th>
        <th class="text-center" scope="col">Price($):</th>
        <th class="text-center" scope="col">Unit:</th>
        <th class="text-center" scope='col'>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
        <tr>
          <th class="text-center" scope="row">{{this.id}}</th>
          <td class="text-center">{{this.name}}</td>
          <td class="text-center text-danger">{{this.type}}</td>
          <td class="text-center">{{this.price}}</td>
          <td class="text-center">{{this.unit}}</td>
          <td class="text-center">{{this.description}}</td>
        </tr>
    {{/each}}
  <tbody>
</table>